header{
    background-color: gray;
    padding: auto 0;
}

.caixa{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav{
    position: absolute;
    top:120px;
    right: 0px;
}

nav li{
    display: inline;
    margin-left: 15px;
}


nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;

}

nav a:hover{
    color: darkgoldenrod;
    text-decoration: underline;
}

.produtos{
    width: 940px;
    margin: 0 auto; 
    padding: 50px 0;
}

.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
}

.produtos li:hover{
    border-color:darkgoldenrod;

}
.produtos li:active{
    border-color:crimson;

}

.produtos li:hover h2{
    font-size: 34px;
}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.produto-descrição{
    font-size: 18px;
}

.preço-produto{
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
}

footer{
    text-align: center;
    background:url("C:/Users/aninh/Desktop/programação/bg.jpg");
    padding: 40px 0;
}

.Copyright{
    color: white;
    font-size: 13px;
    margin-top:20px;
    
}
